<div class="profile">
  <%= render partial: 'profiles/links' %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Categorías creadas</h3>
    </div>
    <div class="panel-body">
      <% if @categories.empty? %>
        <p class="text-center">No hay información para mostrar.</p>
      <% else%>
        <%= render partial: 'categories/categories', collection: @categories, as: :category %>
      <% end %>
    </div>
  </div>
</div>
