<article class="">
  <p><%= group.name %></p>
  <p><%= group.participants.count == 1 ? ( group.participants.count.to_s + ' persona' ) : ( group.participants.count.to_s + ' personas' ) %></p>
</article>
