h2{
  text-align: center;
  padding: 20px 0;
}
a{
  text-decoration: none !important;
}
a:visited{
  color: inherit !important;
}

.btns{
  margin: 25px 0;
  text-align: center;
}
.form-btn{
  margin: 0 12px;
}
.ck{
  margin: 20px 0;
}
.left-content{
  margin-top: 20px;
}
.user-name{
  width: 100%;
  font-size: 3rem;
  margin: 0 0;
  padding: 0 0;
  padding-top: 30px;
  padding-bottom: 15px;
}
.user-email{
  margin: 0 0;
  text-align: center;
  font-size: 1.2rem;
}
.user-bio{
  margin: 20px 0;
  font-size: 1.6rem;
}
.center-btn{
  display: block;
  margin: 0 auto;
}
.feed{
  margin: 0 auto;
  width: 95%;
}
.message-user{
  margin: 10px 20px;
  padding: 0 0;
}
.shared{
  width: 90%;
  margin: 0 20px;
  font-size: 1.4rem;
}
.categories{
  width: 90%;
  margin: 10px 20px;
}
.category{
  background-color: grey;
  border-radius: 10px;
}
.category a{
  color: white !important;
}
.message-body{
  padding: 0 0;
  margin: 0 0;
  width: 100%;
  text-align: justify;
}
.posted-ago{
  display: inline-block;
  margin: 10px 20px;
}
.post{
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  border-radius: 10px;
  margin: 20px 0;
}
.top-btn, .bot-btn{
  width: 170px;
}
.group-name{
  text-align: center;
}
.main-content .post{
  margin: 10px 5px;
}
.cat-checks{
  margin: 20px 10px;
}
.visibility{
  margin: 20px 10px;
  text-align: center;
}
.groups article{
  padding: 1px 20px;
  height: 100px;
}
.groups article:nth-child(2n){
  background-color: #DCDCDC;
}
.profile-links{
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .groups article{
    font-size: 1.6rem;
  }
  .group-name{
    font-size: 3.5rem;
  }
  .left-content p{
    font-size: 1.6rem;
  }
  .message-user{
    font-size: 2.5rem;
  }
  .post i{
    font-size: 1.7rem;
  }
  .post span{
    font-size: 1.7rem !important;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  .feed{
    max-width: 1024px;
  }
  .post i{
    font-size: 1.3rem;
  }
  .post span{
    font-size: 1.4rem !important;
  }
}
