<h1>Editing Category</h1>

<%= render 'form', category: @category %>

<%= link_to 'Eliminar Categoría', category_path( @category ), method: :delete, data: { confirm: "¿Seguro? Esto eliminará la categoría." } %>
